<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
<style>
body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 450px;
    margin: auto;
}
form {
    border: 3px solid #f1f1f1;
    max-width: 420px;
    margin: auto;
}

input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


button[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button[type=submit]:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
  max-width: 400px;
  align-items: center;
  align-content: center;
}

h2 {
    text-align: center;
}

#signup {
    float: right;
}

</style>
</head>

<body>

<h2>Login Form</h2>

<form action="/login" method="POST">
    
    <%- include('partials/flash') %>
    <div class="container">
        <div>
            <label for="email"><b>Email</b></label>
            <input type="email" id="email" name="email" placeholder="enter-email" required>
        </div>

        <div>
            <label for="password"><b>Password</b></label>
            <input type="password" name="password" id="password" placeholder="enter password" required> 
        </div>
        
        <button type="submit">Login</button>
    </div>
</form>

    <p id="signup" >Don't have an account? <a href="/signup">Create One</a></p>
</body>
</html>
