@media screen and (max-width: 768px) {
  #btn {
    position: fixed;
    z-index: 5;
    top: 15px;
    left: 15px;
    cursor: pointer;
    transition: left 500ms;
  }

  #btn div {
    width: 35px;
    height: 2px;
    margin-bottom: 8px;
    background-color: #00dffc;
    transition: transform 500ms, opacity 500ms, box-shadow 250ms,
      background-color 500ms;
  }

  #btn:hover > div {
    box-shadow: 0 0 1px #00dffc;
  }

  #btn.active {
    left: 230px;
  }

  /* #btn.active div {
    background-color: #343838;
  } */

  #btn.active:hover > div {
    box-shadow: 0 0 1px #343838;
  }

  #btn.active #top {
    transform: translateY(10px) rotate(-135deg);
  }

  #btn.active #middle {
    transform: scale(0);
  }

  #btn.active #bottom {
    transform: translateY(-10px) rotate(-45deg);
  }
}
